<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babat</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Investments with Highest ROI Last Month</h1>
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',

    data: {
      labels: ['Samsung Global High Yield Bond Fund', 'BNI-AM Indonesian Equity Fund', 'BNI-AM Indonesia Global Syariah Equity Fund', 'BNI-AM Dana Saham Inspiring Equity Fund', 'Coca-Cola Global Growth Fund'],
      datasets: [{
        label: 'ROI Percentage',
        data: [8, 7, 6, 5, 5],
        borderWidth: 1
      }]
    }
    
    ,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

</body>
</html>