<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>
<body>
   <h1>Home</h1>
   <a href=""></a>
   <table border="1">
      <thead>
         <tr>
            <th>No</th>
            <th>Investment Name</th>
            <th>Investment Type</th>
            <th>ROI</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <% investments.forEach((el, index) => { %>
            <tr>
               <td><%= ++index %></td>
               <td><%= el.investmentName %></td>
               <td><%= el.investmentType %></td>
               <td><%= el.returnOnInvestment %></td>
               <td>
                  <a href="">Invest</a>
               </td>
            </tr>
         <% }) %>
      </tbody>
   </table>
</body>
</html>