<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Babat</title>
   <link rel="stylesheet" href="users.css">
</head>
<body style="position: relative; margin-top: 40px;">
   <a href="/logout" style="position: absolute; right: 20px;"><button>Logout</button></a>
   <h1>List of My Investments</h1>
   <table border="1">
      <thead>
         <tr>
            <th>No</th>
            <th>Investment Name</th>
            <th>Investment Type</th>
            <th>ROI</th>
         </tr>
      </thead>
      <tbody>
         <% users.Investments.forEach((el, index) => { %>
            <tr>
               <td><%= ++index %></td>
               <td><%= el.investmentName %></td>
               <td><%= el.investmentType %></td>
               <td><%= el.returnOnInvestment %>%</td>

            </tr>
         <% }) %>
      </tbody>
   </table>
</body>
</html>